
.cg-video {
    width: 100%;
}
.cg-wrapper{
    display:table;
    width:auto;
    position:relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

p.email {
    width: 320px;
}

.cg-playpause {
    background-image:url('/content/dam/commercial-au/specialty/sma/hcp/en_au/images/overview-of-sma/play_button.png');
    background-repeat:no-repeat;
    width:10%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.hcp-title {
    margin-top: 50px;
}

.ref-num{
    font-size: 12px;
}

body .content .main .textcallout3 div a {
    padding: 10px 50px;
}

.content .altWrapper .text ul.lineheight li+li {
    margin-top: 5px;
}

#tab-nav ul > li {
    width: 25% !important;
}

body .content .main table tbody tr td .second-list {
    margin-right: 66px;
}

body .content .main table tbody tr td .first-list{
  padding-left: 55px;
}

body .content .main table.third tbody tr:first-child td:last-child {
    width: 50%;
}

body .content .main .text .type-list li {
    margin-top: 0;
}

h2.footer-headtitle {
    color: #7b828a;
}

.contact-icon {
    width: 13px;
    margin-bottom: 5px;
}

.clinic-location p, .contact-us p {
    margin-top: -15px;
}

.clinic-location h2{
    padding: 0 !important;
}

.clinic-location p a, .contact-us p a {
    font-weight: 400 !important;
}

.direction-link p a{
  font-weight: 700 !important;
}

.textAlignLeft {
    text-align: left;
}

body .content .altWrapper>div.parbase.section.text .contact-us p, .contact-us p{
    padding: 0px 49px;
}

body .content .blue-button a {
    background: #4570b7;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 10px 50px;
}

body .content .main table.third.four-columns tbody tr td + td{
  width: 25%;
}

.page_genetics-and-diagnostics .content .main table.third tbody tr:first-child td:last-child,
.page_assessment-of-function-in-sma .content .main table.third tbody tr:first-child td:last-child {
    width: 25%;
}

.page_assessment-of-function-in-sma .teasertile .media .media-body p {
    font-size: 16px;
}

.table_left_content {
    width: 315px;
}

h2.color_darkblue {
    margin-top: 23px !important;
}

h2 a.color_lightblue {
  color: #56c8e4;
  text-decoration: underline;
}

.care-options-list {
  padding: 0px 35px 20px !important;
}

.sub-care-options-list{
  padding: 0px 15px !important;
}

.sub-care-options-list li::before{
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}


.label-info-table.label-info-table-blue table .lable-info-second {
    vertical-align: top;
}

.color-mobile {
    color: #41d213;
}

table.second tr:first-child .nutrition-blue h3 {
    color: #4570b7!important;
}

table.table.second tr:nth-of-type(1) .nutrition-blue:first-child {
    background-color: #e5e6e8;
      vertical-align: middle;
      border: 1px solid #cdcfd3;
      border-right: 1px solid #cdcfd3 !important
}

p.phone-break {
    color: #ffff !important;
}

.page_diagnosis .main .three-columns .adaptiveimage figure img {
    width: 90px;
}

.page_diagnosis .three-columns h2{
  padding: 0;
  font-size: 18px;
}

body .content .altWrapper> div.parbase.section.text p.clinic-desc {
    padding: 0 !important;
}

.clinic-name{
    color: #4570b7 !important;
}


body .content .main table tbody tr td ul, body.template--generic-one-column.page_assessment-of-function-in-sma.template_generic .content .main table tbody tr td ul {
    margin: 0 !important;
    text-align: left;
    padding: 0px 70px;
}

body.template--generic-one-column.page_musculoskeletal-support.template_generic .content .main table tbody tr td ul,
body.template--generic-one-column.page_nutrition.template_generic .content .main table tbody tr td ul,
body.template--generic-one-column.page_sma-symptoms.template_generic .content .main table tbody tr td ul,
body.template--generic-one-column.page_respiratory-support.template_generic .content .main table tbody tr td ul {
  padding: 0 25px 0 37px !important;
}

body.template--generic-one-column.page_genetics-and-diagnostics.template_generic .content .main table tbody tr td ul {
  padding: 0px 15px !important;
}

body.template--generic-one-column.page_sma-symptoms.template_generic .content .main table.second tbody tr td ul li ul,
body.template--generic-one-column.page_sma-symptoms.template_generic .content .main table.third tbody tr td ul li ul {
  padding: 0 10px 0 10px !important;
}

ul.sub-care-options-list {
  padding: 0px 33px 20px !important;
  margin-bottom: 20px;
}

#tab-nav ul > li:last-child > a > span {
    width: 13%;
}

.content .main .tab .nav-tabs>li>a {
  vertical-align: top;
  padding-top: 10%;
}

.content .main .tab .tab-content .tab-pane .tab-pane-inner .section.text ul {
    margin-bottom: -130px;
}

body .content .main table.second tbody tr td, body .content .main table.third tbody tr td {
   padding-top: 15px;
}

.main > div.html.section table.third tr:nth-of-type(2) td:nth-of-type(2) {
  vertical-align: middle;
  padding-top: 15px;
}

body .content .main table.third tbody tr td + td {
    vertical-align: middle;
    padding-top: 15px;
}

/*.content .whiteWrap {
  padding: 1px 100px 0px;
}*/

/*body.template--generic-one-column.page_nutrition.template_generic .content .whiteWrap,
body.template--generic-one-column.page_respiratory-support.template_generic .content .whiteWrap,
body.template--generic-one-column.page_sma-symptoms.template_generic .content .whiteWrap,
body.template--generic-one-column.page_cpd-points.template_generic .content .whiteWrap {
  padding: 50px 100px 50px;
}*/

.content figure {
    margin-bottom: 39px;
    margin-top: 24px;
 }

 p.muscular-intro {
    margin-left: 5px;
}

.first-section .image.adaptiveimage {
  margin-bottom: 45px;
}

body .content .content-info-1 {
  padding-bottom: 40px;
}

body .content .content-info-2 {
  margin-top: 40px;
}

/*.content .grayWrap {
  padding: 25px 100px 50px;
}*/

body .content h2, body .content .h2 {
  padding: 0 35px;
}

body .content .content-info-4 h3 {
  margin: 30px 0 -20px 0;
}

/*body.template--generic-one-column.page_overview-of-sma.template_generic .content .whiteWrap {
    padding: 20px 100px 0px;
}*/

body.template--generic-one-column.page_overview-of-sma.template_generic .content .altWrapper .text ul.bullet-aligned {
    padding-left: 60px;
}

body.template--generic-one-column.page_assessment-of-function-in-sma.template_generic .content .altWrapper>div.parbase.section.text p {
  padding: 0px 40px;
}

body.template--generic-one-column.page_assessment-of-function-in-sma.template_generic ul.key-points.activated {
  margin-left: 40px;
}


body.template--generic-one-column.page_nutrition.template_generic .content .main table tbody tr + tr {
  height: auto;
}


.label-info-table.label-info-table-blue table .lable-info-main {
    border: 1px solid #63676f !important;
}

.label-info-table.label-info-table-blue table .lable-info-main td {
    border-right: 2px solid #5f6d8c47 !important
}

.page_care .label-info-table table tr td{
    border-right: 2px solid #5f6d8c47 !important;
    vertical-align: middle;
}

.page_care .label-info-table table tr td{
  vertical-align: top;
}

body.template--generic-one-column.page_care.template_generic .page_care .label-info-table table tr td {
    vertical-align: top;
}

.page_care .container_table.cares .therapeuticTD {
  padding: 25px 54px;
}

.another-column {
    background: #4570b7;
    height: 50px;
}

.label-info-table table tr td p.column-extra {
    line-height: 50px;
    color: white;
}

body.page_sma-symptoms .content .main table.second tbody tr td:nth-of-type(1),
body.page_sma-symptoms .content .main table.third tbody tr td:nth-of-type(1) {
    vertical-align: text-top;
}

body.page_sma-symptoms .heading-top{
  margin-top: 25px !important;
}

body.page_assessment-of-function-in-sma .content .main table.third {
    margin: 20px 0 60px;
}

.image-bulletpoint {
    margin-top: 20px;
}

.content .title.base.parbase.section a {
    color: #65b2e9;
    text-decoration: underline;
}



@media (min-width: 992px){
  .cg-video {
      width: 85%;
  }

  body .content .main .textcallout3 {
      padding: 40px 245px 52px;
  }

  .bullet-content {
    padding: 0px 110px;
  }

  body .content .altWrapper>div.parbase.section.text .content-left p {
    padding: 0;
  }

  /* body .content .altWrapper>div.parbase.section.text p {
      padding-right: 10px;
  } */

  .content .altWrapper .text ul.bullet-aligned {
      padding-right: 75px;
  }

  .direction-link p a{
    text-align: right;
  }

  .content .footnote {
    padding: 20px 20px 0px 10px;
  }
}

@media (max-width: 767px){
  body .content .main .textcallout3 {
    padding: 40px 56px 52px;
  }

  body .page-header .wrapper .page-title {
    padding: 60px 20px;
  }

  body .page-header {
    margin-bottom: 15px;
  }

  /* body .content .altWrapper>div.parbase.section.text p{
    padding: 0px 10px !important;
  } */

  .direction-link{
    text-align: left;
  }

  h2.spacer, p.spacer {
      display: none;
  }

  .clinic-location h2 {
      padding: 0 !important;
  }

  .columncontrol.section:first-child {
      border-bottom: none;
  }

  .columncontrol.section {
    border-bottom: 1px solid #def5fa;
  }

  body .content .altWrapper>div.parbase.section.text .contact-us p, .contact-us p{
      padding: 0px 15px !important;
  }

  .label-info-table table .lable-info-main td .lable-info-title {
    font-size: 15px;
  }


/*
  .content .whiteWrap,
  body.template--generic-one-column.page_overview-of-sma.template_generic .content .whiteWrap,
  body.template--generic-one-column.page_nutrition.template_generic .content .whiteWrap,
  body.template--generic-one-column.page_respiratory-support.template_generic .content .whiteWrap,
  body.template--generic-one-column.page_sma-symptoms.template_generic .content .whiteWrap,
  body.template--generic-one-column.page_cpd-points.template_generic .content .whiteWrap {
    padding: 0px 20px 30px;
  }*/
/*
  .content .grayWrap {
    padding: 30px 20px 30px;
  }
*/

  body.template--generic-one-column.page_musculoskeletal-support.template_generic .content .main table tbody tr td ul,
  body.template--generic-one-column.page_nutrition.template_generic .content .main table tbody tr td ul,
  body.template--generic-one-column.page_sma-symptoms.template_generic .content .main table tbody tr td ul,
  body.template--generic-one-column.page_respiratory-support.template_generic .content .main table tbody tr td ul {
  padding: 0% 6% 3% 8% !important;
  }

  body.template--generic-one-column.page_paediatric-nmds.template_generic .content .altWrapper .text ul.bullet-aligned {
    padding-left: 1.2em;
  }

 body.template--generic-one-column.page_assessment-of-function-in-sma.template_generic .content .main table tbody tr td ul {
    padding: 0px 10px 0px 40px;
  }

 body.template--generic-one-column.page_assessment-of-function-in-sma.template_generic  .content .main table.third.four-columns tbody tr td + td, body.template--generic-one-column.page_genetics-and-diagnostics.template_generic .content .main table.third.four-columns tbody tr td + td {
  width: 100%;
 }

 body.template--generic-one-column.page_genetics-and-diagnostics.template_generic .content .main table tbody tr td ul {
    padding: 0px 30px !important;
 }


 body.template--generic-one-column.page_sma-symptoms.template_generic ul.key-points.double-column.activated {
  margin: 30px 0px 30px 25px;
 }

 .type-list li {
     width: auto !important;
 }

.content .altWrapper .text ul.bullet-aligned{
    padding-left: 25px !important;
 }

 ul.key-points.activated {
    margin-left: 25px;
  }

}
