
/*country selector display
.utility-nav .wrapper .navbar-nav>li:nth-of-type(3), .utility-nav .wrapper .navbar-nav>li:nth-of-type(4) {
    display: inline-block;
}*/

.main-nav .wrapper .main-nav-list>li {
    width: 180px;
}

.desktop-family-slider{
  display: none;
}

/*temporary content style under carousel*/
.carousel-content {
    width: 115% !important;
    padding-left: -41px;
    position: relative !important;
    left: 60% !important;
    top: 43% !important;
}

.template_home .columncontrol .col+.col {
    border-left: 1px solid #e5e6e8;
}

.template_home .columncontrol .col p a {
    display: table;
    width: 100%;
    height: 77px;
    text-decoration: none;
    font-family: "brandon-grotesque",sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    line-height: 16px;
}

.template_home .columncontrol .col p a span {
    display: table-cell;
    vertical-align: middle;
}

#marquee-container .slider-next, #marquee-container .desktop-slide-arrow, #marquee-container #marquee-footer .sma-care{
  visibility: hidden;
}


#footer>.wrapper>.row.siteMapFooter-links .siteMapColumn:last-child ul li:nth-child(2) a {
  font-weight: 400;
  color: #fff;
}

.accordioncontainer>.col {
    margin-bottom: 50px;
    margin-top: 15px;
    padding: 0;
}

.accordioncontainer>.col #accordion,
.accordioncontainer>.col .accordion {
    margin-top: 0px;
    border: none;
    padding: 0 100px;
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementHeader,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementHeader {
    padding: 13px 2px;
    border-bottom: 2px solid #f6f6f7;
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementHeader h4,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementHeader h4 {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #7b828a;
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementHeader .headerToggle,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementHeader .headerToggle {
    width: 20px;
    height: 20px;
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementHeader .headerToggle.accordionClose,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementHeader .headerToggle.accordionClose {
    background: url("/content/dam/commercial-au/specialty/sma/hcp/en_au/images/icons/accorOpen.png") no-repeat;
    background-size: cover;
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementHeader .headerToggle.accordionOpen,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementHeader .headerToggle.accordionOpen {
    background: url("/content/dam/commercial-au/specialty/sma/hcp/en_au/images/icons/accorClose.png") no-repeat;
    background-size: cover
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementBody,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementBody {
    padding: 40px 5px 10px;
    background: none;
    border: none;
    text-align: left;
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementBody p,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementBody p {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7b828a;
    margin-bottom: -10px;
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementBody p a,
.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementBody p u,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementBody p a,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementBody p u {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #56c8e4;
    text-decoration: underline;
}

.accordioncontainer>.col #accordion .accordionelement .accordionElement .accordionElementBody p .copy,
.accordioncontainer>.col .accordion .accordionelement .accordionElement .accordionElementBody p .copy {
    color: #56c8e4;
    text-decoration: none;
    font-weight: 400;
}

.template_home .row .main {
    padding: 50px 0px 0px;
}

.template_home .columncontrol div.row div.col:nth-child(1) {
    padding-right: 0;
}

.template_home .columncontrol div.row div.col:nth-child(2) {
    padding-right: 0;
    padding-left: 0;
}

.template_home .columncontrol div.row div.col:nth-child(3){
  padding-left: 0;
}

.template_home .columncontrol .col:first-child h3 {
    margin-bottom: 10px;
}

.template_home .content .title h3{
  margin-top: 0;
  margin-bottom: 10px;
}

.three-column-desc {
  font-family: "brandon-grotesque",sans-serif !important;
}

.template_home .row .main .adaptiveimage img {
    width: 250px;
}

.mobile-menu-toggle {
    height: 71px;
}

footer .sitemap-title-link, footer .sitemap-title-link:hover{
  font-family: brandon-grotesque,sans-serif!important;
  font-size: 15px;
  font-weight: 700;
  color: #56c8e4;
  text-decoration: none;
  cursor: pointer;
}

#footer>.wrapper>.row.footer-links-container .logo-biogen .logo-biogen2 {
    width: 65%;
}

footer .footer-links-container .footer-info {
    max-width: 100% !important;
}

.utility-nav .wrapper .navbar-nav>li>a:hover, .utility-nav .wrapper .navbar-nav>li>a:visited, .utility-nav .wrapper .navbar-nav>li>a:active, .utility-nav .wrapper .navbar-nav>li>a:focus {
    color: #333;
}

.utility-nav .wrapper .navbar-nav>li>a {
    padding: 0px 10px;
    font-family: "brandon-grotesque",sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    text-shadow: none;
    text-transform: uppercase;
}

.utility-nav .wrapper .navbar-nav>li.countryselector .text {
    color: #4570b6;
}

.utility-nav .wrapper .navbar-nav>li.countryselector span.open-close-arrow::before{
    display: none;
}

#footer>.wrapper>.row.footer-links-container .logo-biogen .logo-biogen2 {
    width: 100%;
}

footer a {
  color: #56c8e4;
}

@media (min-width: 992px){
  .logo-options .col1 .first {
    margin: -30px 0 15px;
  }

  .main-nav .wrapper > ul{
    text-align: center;
  }
  #footer>.wrapper .row.footer-links-container .desktop-disclaimer {
    margin-top: 16px;
  }

  #footer>.wrapper>.row.footer-links-container .desktop-disclaimer .footer-info {
    line-height: 12px;
  }

  .page_home .columncontrol .col figure {
      padding-top: 0;
      padding-bottom: 0;
  }

}

@media screen and (max-width: 767px){
  header .logo-options img {
    margin-top: 30px;
  }
  .accordioncontainer>.col #accordion, .accordioncontainer>.col .accordion {
      padding: 30px 20px 30px;
  }

  #footer>.wrapper>.row.footer-links-container {
      position: absolute;
      top: 205px;
      width: 50%;
      right: 10px;
  }

  #footer>.wrapper:last-child {
    height: auto;
  }

  #footer>.wrapper>.row.siteMapFooter-links {
    border-bottom: none;
  }

  #footer>.wrapper:last-child {
      height: 590px;
  }

  .template_home .altWrapper .adaptiveimage {
    padding: 0;
  }
}

@media (max-width: 1024px){
  .carousel-content {
    top: 90px !important;
  }
}

@media (max-width: 990px){
  .carousel-content {
      width: auto !important;
      top: 60px !important;
      left: 50% !important;
  }
}


/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    #footer>.wrapper>.row.footer-links-container .footer-links {
      width: 50%;
    }

    footer .footer-links ul.desktop-footer-links {
      display: inline-grid !important;
    }

    #footer>.wrapper>.row.footer-links-container ul.desktop-footer-links li:nth-child(2) {
      margin-left: 0;
    }
}
