
.content .wrapper .row .main.col.col-xs-12 .underline>div:nth-of-type(1) > h3 {
	color: #223867;
}

.template--home .content, .page-header-generic + .content {
		background: url('/content/dam/commercial-au/specialty/spinraza/hcp/en_au/images/background.png');
		height: auto;
}
.w-100 {
    width: 100%!important;
}

.content h3 {
	color: #213963;
}

.invalidLogin {
    color: red;
    display: none;
    text-align: center;
}

.loginButton {
    width: auto;
}

.page_home .desktop-footer-links > li:nth-child(1),.page_home .desktop-footer-links > li:nth-child(4),.page_home .desktop-footer-links > li:nth-child(5){
  display: none;
}

/*Sign out*/
header .spinraza-header .container .pull-right p a{
	font-size: 15px;
	font-weight: 600 !important;
}

header .spinraza-header .container .pull-right p a:hover, header .spinraza-header .container .pull-right p a:focus, header .spinraza-header .container .pull-right p a:visited{
	font-size: 15px;
	font-weight: 600 !important;
}

p a.pi-link:visited,p a.pi-link,p a.pi-link:hover{
	color: #414042 !important;
}

h3.inner-title {
	color: #213963;
	margin-bottom: 3%;
	line-height: 3.7rem;
/*	padding-left: 80px;
    padding-right: 80px;*/
    margin-top: 6%;
}

.grey-content h3.inner-title {
	margin-top: 3%;
}

.content .text-callout:before, .content .text-callout:after {
	background: none !important;
	border:none;
}

.inner-container {
	width: 850px;
	margin: auto;
}

body.template--generic-one-column.page_efficacy.template_generic .inner-container {
	width: 100%;
}

.hcp-text p {
	text-transform: uppercase;
    width: 330px;
    line-height: 1.5em;
    font-weight: 600 !important;
}

header .spinraza-header .container .pull-right .form-inline {
	display: none !important;
}

.header-auth {
    text-align: center;
    background: #223867;
    height: 85px;
}

.header-auth h3 {
	padding-top: 2.5%;
	color: #fff;
    font-family: 'Avenir Next Cyr W00 Bold', sans-serif;
}

.grey-content{
	background: #f3f4f4;display: inline-block !important;
	height: auto;
	padding: 25px 128px;
	width: 100%;
}

.yellow-container {
	height: auto;
	background: #fcdc53;
	padding-top: 5px;
	padding-bottom: 5px;
}

.no-touchcapable .main-nav .wrapper > ul > li:nth-child(1), .no-touchcapable .main-nav .wrapper>ul>li:nth-child(2), .no-touchcapable .main-nav .wrapper>ul>li:nth-child(3), .no-touchcapable .main-nav .wrapper>ul>li.level-1:last-of-type{
	display: inline-block !important;
}

.login-comp .sharedLogin {
    display: none;
}

body.template--home.page_home.template_home .canvas-container .row-offcanvas.row-offcanvas-left header{
	display: none;
}

/* body.template--generic-one-column.page_patient-resources.template_generic .main-nav .wrapper > ul > li:nth-child(1), body.template--generic-one-column.page_patient-resources.template_generic .main-nav .wrapper>ul>li:nth-child(2), body.template--generic-one-column.page_patient-resources.template_generic .main-nav .wrapper>ul>li:nth-child(3) {
	display: none !important;
} */


.no-touchcapable .main-nav .wrapper, .touchcapable .main-nav .wrapper, .main-nav .wrapper{
	background: #ffffffab;
}

body.template--generic-one-column.page_patient-resources.template_generic .main-nav .wrapper > ul > li.level-1:last-of-type {
    display: inline-block;
}

.open-close-arrow img {
    max-width: 10px !important;
}

.rightcol {
    top: 0 !important;
}

.breadcrumb.sibling-breadcrumb.clearfix>li+li:before{
      border-left: 0;
}

.content label.error {
    color: #ea6767;
    margin-top: 2px;
    font-size: 14px;
}

.content input.error, .content select.error, .content textarea.error {
    border: 2px solid #ea6767;
}



.template_home .header.spinraza-header {
    display: none; /*hides header when user is under authentication page*/
}

.submit-btn {
    color: #028ca6;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    margin-right: 15px;
    background: #a4d9cf;
    border-radius: 0;
    text-transform: uppercase;
}


body.template--generic-one-column.page_product-information.template_generic .content .text-callout {
	margin-top: 0;
	margin-bottom: 0;
}

.download-container .text {
	margin-left: 15px;
	margin-right: 15px;
}

body.template--generic-one-column.page_patient-contact-us .content h3 {
	text-align: left;
}


/*body.template--generic-one-column.page_mode-of-action.template_generic .wrapper>.main>.text {
    padding: 20px 128px;
}*/

@media only screen and (min-width: 992px) {
	header .spinraza-header .container div:nth-child(5) {
	    width: 180px;
	}

	.countryselector {
    padding: 0 !important;
	}

	.country_options {
	    top: 81px !important;
	}

	.country-dd{
		font-size: 14px;
	}

}

@media only screen and (min-width: 768px) {

	 /* tablets and desktop */

	.page_home footer .footer-links ul li {
    padding-right: 30px !important;
    padding-left: 0 !important;
	}

    .main-nav .wrapper>ul>li {
    	text-transform: uppercase;
    }

    .container {
   	 	width: 750px;
	}

	.title.base.parbase.section h3 {
		color:#223867;
		margin-top: 30px;
	}

	.content .wrapper .row .main.col.col-xs-12 .underline>div:nth-of-type(1) > h3 {
		margin-bottom: 50px;
	}

	body.template--generic-one-column.page_mode-of-action.template_generic .text.parbase.section p {
    /*padding: 0 175px 0;*/
    line-height: 22px;

	}

  .page-header.page-header-generic {
  	display: none;
  }

  .main-nav .wrapper {
  	z-index: 5;
  }

	body.template--generic-one-column.page_patient-resources .no-touchcapable .main-nav .wrapper,body.template--generic-one-column.page_patient-resources .touchcapable .main-nav .wrapper,body.template--generic-one-column.page_patient-resources .main-nav .wrapper,
	body.template--generic-one-column.page_patient-contact-us .no-touchcapable .main-nav .wrapper,body.template--generic-one-column.page_patient-contact-us .touchcapable .main-nav .wrapper,body.template--generic-one-column.page_patient-contact-us .main-nav .wrapper {
    background: none !important;
	}

  .main-nav .wrapper > ul > li > a {
    	color: #028ca6 !important;
	}

	.level-1.has-children.here.active {
    	border-bottom: 2px solid #028ca6;
	}

	.breadcrumb.sibling-breadcrumb.clearfix .stacked-breadcrumb a {
		margin-left: 20px;
    	margin-right: 20px;
    	text-transform: uppercase;
    	font-weight: 600 !important;
	}

	.breadcrumb.sibling-breadcrumb.clearfix>li.active .stacked-breadcrumb {
		text-transform: uppercase;
		font-weight: bold !important;
	}


  div.image.adaptiveimage img {
  	display: block !important;
  }

  .carousel .wrapper .bx-wrapper {
  	margin-top: -38px;
  }

  .no-touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .main-nav .wrapper>ul>li:nth-child(3) a {
  	background: none !important;
  }

   .no-touchcapable  .main-nav .wrapper>ul {
  	text-align: center;
  }

  .touchcapable .main-nav .wrapper>ul, .main-nav .wrapper>ul {
  	text-align: center;
  }

  .accordioncontainer.base.parbase.section, #footer .wrapper .siteMapFooter-links {
  	display: none;
	}

	#footer .wrapper .footer-links-container .footer-links ul.desktop-footer-links, #footer .wrapper .footer-links-container .desktop-disclaimer {
		margin-top: 0;
	}

	.content figure {
		margin-bottom: 24px;
    	margin-top: 0px;
	}

	.inner-content {
		padding: 0px 128px;
	}

	.small-note {
	    margin-top: 3rem;
	    margin-bottom: 3rem;
	 /*   margin-left: 7rem;*/
	}

	.spinraza-reference {
	    font-size: 12px;
	    margin-left: 100px;
	}

	#footer .wrapper {
		padding: 45px 128px 50px;
	}

	#footer .wrapper .footer-links-container .logo-biogen .logo-biogen1 {
    	width: 45%;
    	margin-left: 150px;
	}

	/*Forms*/

	.get-in-touch .form-control, .authentication-form .form-control {
		padding: 8px;
    	height: 40px;
		border-radius: 0;
	}

	.submit-btn {
		color: #028ca6;
		padding-left: 30px;
	    padding-right: 30px;
	    margin-bottom: 40px;
	    margin-right: 15px;
		background: #a4d9cf;
		border-radius: 0;
		text-transform: uppercase;
	}

	p a.request, p a.request:visited, p a, .content p a {
		color: #028ca6;
		font-weight: 400;
	}

	p a.request:hover, p a, .content p a:hover {
		color: #028ca6;
	}

	p.h-pro {
    	margin-left: 15px;
	}

	.content .form-control {
		font-size: 15px;
	}

	.checkbox.col-md-12 {
    	margin-bottom: 30px;
	}

	.submit-btn span {
	    font-size: 20px;
	    font-weight: bold;
	    margin-left: 15px;
	}

	/*end of form style*/

	/*Product information page*/
	.spinraza-callout h3 {
	    color: black;
	    border: 2px solid black;
	    width: 815px;
	    margin: auto;
	    padding: 20px;
	}

	/*Contact Us*/
	.col-md-6.col-sm-6.col-xs-12.contact-us, .col-md-12.col-sm-12.col-xs-12.contact-us {
		margin-top: 50px;
		margin-bottom: 50px;
	}


	.col-md-6.col-sm-12.col-xs-12.contact-us h3, .col-md-12.col-sm-12.col-xs-12.contact-us h3 {
		text-align: left;
	}

	.col-md-12.col-sm-12.col-xs-12.contact-us.enquiries {
		margin-top: 0px;
	}

	.col-md-6.col-sm-12.col-xs-12.contact-us p a, .col-md-12.col-sm-12.col-xs-12.contact-us p a {
		font-family: 'Avenir Next Cyr W00 Regular', sans-serif;
		font-weight: normal;
	}

	/*Video*/

	.cg-video { width: 100%; }

	.cg-wrapper{
		display:table;
		position:relative;
		width: 750px;
		margin: 30px auto 0px;
	}

	.cg-playpause {
		background-image:url('/content/dam/commercial-au/specialty/spinraza/hcp/en_au/images/how-works/spinraza_play_button.png');
		background-repeat:no-repeat;
		width:10%;
		height:50%;
		position:absolute;
		left:0%;
		right:0%;
		top:0%;
		bottom:0%;
		margin:auto;
		background-size:contain;
		background-position: center;
	}

	small {
    font-size: 12px;
  	}

  /*phase2*/

  .reference {
      margin-top: 55px;
      margin-bottom: 100px;
  }

  .resource-access {
      margin-top: 60px;
      margin-bottom: 130px;
  }

  p.dark-blue {
      color: #223867;
      font-size: 17px;
      margin-top: 40px;
      font-weight: bold !important;
  }

  p.light-blue {
  	  color: #5db5c6;
  }

  .dark-blue {
      color: #223867;
      font-weight: bold !important;
  }

  li.resourced-list {
	    list-style: none;
	    display: inline-block;
	    width: auto;
  }

  li.resourced-list p, li.resourced-list a {
		text-align: center;
		width: 285px;
  }

	li.resourced-list a img {
	  margin-left: 50px;
	}

  .download-container.row {
    width: 100%;
  	margin: 40px auto;
  }

  .row.injection-content {
    margin-top: 20px;
   }

   .row.injection-content p {
   	padding-top: 20px;
    font-size: .9em;
    font-weight: bold !important;
    line-height: 1.3em;
   }

   footer .footer-links-container .footer-info {
   	max-width: 567px !important;
   }

	footer .footer-links {
    	padding: 10px 0 30px !important;
	}

	div.bx-viewport {
    	height: auto !important;
	}

	.touchcapable .main-nav .wrapper>ul>li:nth-child(1), .main-nav .wrapper>ul>li:nth-child(1), .touchcapable .main-nav .wrapper>ul>li:nth-child(2), .main-nav .wrapper>ul>li:nth-child(2), .touchcapable .main-nav .wrapper>ul>li:nth-child(3), .main-nav .wrapper>ul>li:nth-child(3) {
		display: inline-block;
	}

	body.template--generic-one-column.page_safety.template_generic .content .well {
		margin-top: 0;
	}

	body.template--generic-one-column.page_patient-resources li.level-1.here.active{
	 	border-bottom: 2px solid #1092ab;
	}
}



@media only screen and (max-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)  {
	/*ipad Portrait*/
	header .spinraza-header .container .center-img img {
		margin-left: 30%;
	    max-width: 100%;
	    margin-bottom: 17px;
	}

	.inner-content {
		padding: 0;
	}

	header .spinraza-header .container .pull-right {
		display: block !important;
	}


	/*video.cg-video {
		margin: 5% 10% 5% 10%;
	}*/

	.header-auth {
	    text-align: center;
	    background: #223867;
	    height: 85px;
	}

	.header-auth h3 {
		padding-top: 3.5%;
		color: #fff;
	    font-family: 'Avenir Next Cyr W00 Bold', sans-serif;
	}

	.inner-container {
		width: 100%;
	}

	.wrapper>.main>.title, .wrapper>.main>.text {
		padding: 0;
	}

	body.template--generic-one-column.page_hcp.template_generic .content .wrapper {
    	min-height: 310px;
	}

	.download-container.row {
		width: auto;
	}

	header .spinraza-header .container div:nth-child(2) {
		width: 100% !important;
	}

	.touchcapable .main-nav .wrapper>ul>li:nth-child(1), .touchcapable .main-nav .wrapper>ul>li:nth-child(1), .main-nav .wrapper>ul>li:nth-child(1), .main-nav .wrapper>ul>li:nth-child(1),
	.touchcapable .main-nav .wrapper>ul>li:nth-child(2), .touchcapable .main-nav .wrapper>ul>li:nth-child(2), .main-nav .wrapper>ul>li:nth-child(2), .main-nav .wrapper>ul>li:nth-child(2),
	.touchcapable .main-nav .wrapper>ul>li:nth-child(3), .main-nav .wrapper>ul>li:nth-child(3) {
		display: block;
	}

	.touchcapable .main-nav .wrapper, .main-nav .wrapper {
		background: none !important;
	}

	nav.main-nav.sidebar-offcanvas.clearfix ul.main-nav-list {
    	text-align: left;
	}

	.main-nav .wrapper>ul>li>a:before, .main-nav .wrapper>ul>li>a:after {
		position: absolute;
	    display: block;
	    left: 232px;
	    top: 50%;
	    margin-top: -9px;
	    width: 18px;
	    height: 18px;
	    line-height: 18px;
	}

	.carousel .wrapper .bx-wrapper {
		margin-top: 0;
	}

	.content .wrapper {
		min-height: auto;
	}

	.grey-content {
		padding: 0;
	}

	#footer .wrapper .footer-links-container .logo-biogen .logo-biogen1 {
		margin-left: 60px;
	}

	/*body.template--generic-one-column.page_mode-of-action.template_generic .inner-content {
		padding: 0px 128px;
	}*/

	body.template--generic-one-column.page_mode-of-action.template_generic .text.parbase.section p {
		padding: 0;
	}

	.reference {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.spinraza-callout h3 {
		width: auto;
	}

	.country-dd {
	    position: absolute;
	    top: 0;
	    right: 0;
	}

	.country_options {
    	top: 50px !important;
    	right: 12px !important;
    }

	.page_get-in-touch .content .wrapper {
			min-height: auto !important;
	}

	#footer .wrapper {
    	padding: 45px 30px 50px;
	}

	footer small {
		font-size: 9px;
	}

	.country-dd {
		margin-top: 5px;
	}

}

@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

    	#footer .wrapper {
    	padding: 45px 30px 50px;
		}

		.text.parbase.section p {
			padding: 0;
		}

		body.template--generic-one-column.page_mode-of-action.template_generic .text.parbase.section p {
    		padding: 0;
		}


		ol.breadcrumb.sibling-breadcrumb.clearfix {
			padding: 11px 13px !important;
		}

		.touchcapable .main-nav .wrapper, .main-nav .wrapper {
    		background: rgba(255, 255, 255, 0.86);
    	}

    	.breadcrumb.sibling-breadcrumb.clearfix .stacked-breadcrumb a {
    		margin-right: 8px;
    	}

}

@media only screen and (max-width: 991px){
	.touchcapable .main-nav .wrapper>ul>li ul li a, .main-nav .wrapper>ul>li ul li a{
			color: #6ebbca !important;
	}

	.touchcapable .main-nav .wrapper>ul>li>a, .main-nav .wrapper>ul>li>a{
		color: #6ebbca !important;
	}

	header .spinraza-header .container div:nth-child(2){
			width: 100% !important;
	}

	header .spinraza-header .container .pull-right {
    display: block;
    margin-top: 10px;
	}
	/* portrait phones */

	/* header .spinraza-header .container .center-img img {
		margin-left: -5%;
	} */

	header .spinraza-header .container div:nth-child(5) {
	    width: 200px;
	}

	.references .content-reference .accordioncontainer>.col .accordion .accordionElement .accordionElementHeader {
		display: none;
	}

	.content-reference .accordioncontainer>.col p {
		font-size: 10px;
	}

	.accordioncontainer.base.parbase.section {
		margin-bottom: -50px;
	}

	.inner-content {
		padding: 10px;
	}

	h3.inner-title {
		padding-left: 0;
		padding-right: 0;
	}

	.country-dd {
    position: absolute;
    top: 0;
    right: 0;
	}
}

/*overide for responsive*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.touchcapable .main-nav .wrapper>ul, .main-nav .wrapper>ul {
    text-align: center;
	}

	.touchcapable .main-nav .wrapper>ul>li:nth-child(3), .main-nav .wrapper>ul>li:nth-child(3), .touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .main-nav .wrapper>ul>li:nth-child(3) a {
		width: 100% !important;
	}

	header .spinraza-header .container .center-img img {
		margin: 0 auto;
	}

	.touchcapable .main-nav .wrapper, .main-nav .wrapper {
    	background: none;
    }

	.country-dd {
		margin-top: 5px !important;
	}

	.country_options {
    top: 45px !important;
    right: 23px !important;
    width: 200px;
	}

}


@media only screen and (max-width: 767px) {

    /* phones */

    .page-header-generic .wrapper {
    	display: none;
    }

    body #footer .wrapper .footer-links-container .desktop-disclaimer {
    	margin-top: 0;
    }

    #footer .wrapper .footer-links-container .footer-links ul.desktop-footer-links li:first-child {
    	margin-right: -6px;
    }

    .wrapper>.main>.text {
    	padding: 0 10px 0 10px;
    }

	.cg-wrapper {
		width: 75%;
	}

	.country-dd{
	    position: absolute;
	    top: 0;
	    right: 0;
	}

	.country_options {
		top:33px !important;
		right: 10px !important;
	}

	.header.spinraza-header .hcp-text p,.header.spinraza-header .patients-text p  {
	    font-size: 9px;
	    width: 50%;
	}

	header .spinraza-header .container .pull-right {
		display: block !important;
	}


	video.cg-video {
	    width: 100%;
	    margin: 5% 15%;
	}

	.sma-hcpregistration.form.base.parbase.section {
    	display: none;
	}

	body #footer {
		margin-top: 40px;
	}

	.col-md-6.col-sm-6.col-xs-12.contact-us {
    	margin-top: 10%;
	}

	.wrapper>.main>.title, .wrapper>.main>.text,
	body.template--generic-one-column.page_mode-of-action.template_generic .wrapper>.main>.text,
	body.template--generic-one-column.page_mode-of-action.template_generic .inner-content,
	.grey-content, .white-container {
    	padding: 1% 30px 1% 30px;
	}

	body.template--generic-one-column.page_hcp.template_generic .image.adaptiveimage.parbase.section {
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.no-touchcapable .main-nav .wrapper>ul>li:nth-child(1), .no-touchcapable .main-nav .wrapper>ul>li:nth-child(2), .touchcapable .main-nav .wrapper>ul>li:nth-child(1), .touchcapable .main-nav .wrapper>ul>li:nth-child(1), .main-nav .wrapper>ul>li:nth-child(1), .main-nav .wrapper>ul>li:nth-child(1), .no-touchcapable .main-nav .wrapper>ul>li:nth-child(3), .touchcapable .main-nav .wrapper>ul>li:nth-child(3), .main-nav .wrapper>ul>li:nth-child(3), .no-touchcapable .main-nav .wrapper>ul>li:nth-child(2), .no-touchcapable .main-nav .wrapper>ul>li:nth-child(2), .touchcapable .main-nav .wrapper>ul>li:nth-child(2), .touchcapable .main-nav .wrapper>ul>li:nth-child(2), .main-nav .wrapper>ul>li:nth-child(2), .main-nav .wrapper>ul>li:nth-child(2) {
		display: block;
	}

	.inner-container {
		width: auto;
	}

	.row.injection-content {
    	margin-bottom: 5%;
	}

	div.bx-viewport {
    	height: auto !important;
	}

	.main-nav .wrapper>ul>li>a:before, .main-nav .wrapper>ul>li>a:after {
		position: absolute;
	    display: block;
	    left: 232px;
	    top: 50%;
	    margin-top: -9px;
	    width: 18px;
	    height: 18px;
	    line-height: 18px;
	}

	/*download resource page*/


	ul li.resourced-list {
    	list-style: none;
	}

	li.resourced-list {
    	text-align: center;
    	margin-top: 3%;
	}


	li.resourced-list p {
	    font-size: 17px;
	    color: #223867;
	    font-weight: bold !important;
	}

	header .spinraza-header .container div:nth-child(2) {
    width: 100% !important;
	}

	 header .spinraza-header .container .header_links{
		padding: 12px 10px 0 !important;
	}

	.country_text {
    margin-left: 5px;
    font-weight: normal;
    font-size: 9px;
	}

	header .spinraza-header .container div:nth-child(5) {
    width: 165px;
	}

	.image-download {
    width: 60%;
	}

	.download-container.row ul {
    padding-left: 15px;
    padding-right: 15px;
	}

	.download-text {
    font-size: 21px;
	}

	li.resourced-list {
    margin-bottom: 50px;
	}

	.country-dd {
    margin-top: 5px;
	}

	li.countryselector {
    bottom: 0;
		padding: 5px;
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */

    header .spinraza-header .container .center-img img {
    	margin-left: -5%;
			width: 50%;
    }

    .references .content-reference .accordioncontainer>.col .accordion .accordionElement .accordionElementHeader {
    	display: none;
    }

    .content-reference .accordioncontainer>.col p {
    	font-size: 10px;
    }

    .accordioncontainer.base.parbase.section {
    	margin-bottom: -50px;
	}

	.inner-content {
		padding: 10px;
	}

	h3.inner-title {
		padding-left: 0;
		padding-right: 0;
	}


}


@media only screen and (max-width: 767px)
spinraza-overide.css:887
ul li.resourced-list {
    list-style: none;
    width: 210px;
    display: inline-block;
    margin-left: 20px;
}
