
.content .wrapper .row .main.col.col-xs-12 .underline>div:nth-of-type(1) > h3 {
	color: #223867;
}

.template--home .content, .page-header-generic + .content {
		background: url('/content/dam/commercial-au/specialty/spinraza/hcp/en_au/images/background.png');
		height: auto;
}
.w-100 {
    	width: 100%!important;
}

.content h3 {
	color: #213963;
}

.invalidLogin {
    color: red;
    display: none;
    text-align: center;
}

.loginButton {
    width: auto;
}

.page_home .desktop-footer-links > li:nth-child(1),.page_home .desktop-footer-links > li:nth-child(4),.page_home .desktop-footer-links > li:nth-child(5){
  display: none;
}

h3.inner-title {
	color: #213963;
	margin-bottom: 3%;
	line-height: 3.7rem;
	padding-left: 80px;
    padding-right: 80px;
    margin-top: 6%;
}

.content .text-callout:before, .content .text-callout:after {
	background: none !important;
	border:none;
}

.inner-container {
	width: 850px;
	margin: auto;
}

.hcp-text p {
	text-transform: uppercase;
    width: 330px;
    line-height: 1.5em;
    font-weight: 600 !important;
}

header .spinraza-header .container .pull-right .form-inline {
	display: none !important;
}

.header-auth {
    text-align: center;
    background: #223867;
    height: 85px;
}

.header-auth h3 {
	padding-top: 2.5%;
	color: #fff;
    font-family: 'Avenir Next Cyr W00 Bold', sans-serif;
}

.grey-content{
	background: #f3f4f4;display: inline-block !important;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
}

.yellow-container {
	height: auto;
	background: #fcdc53;
	padding-top: 5px;
	padding-bottom: 5px;
}

.no-touchcapable .main-nav .wrapper > ul > li:nth-child(1), .no-touchcapable .main-nav .wrapper>ul>li:nth-child(2), .no-touchcapable .main-nav .wrapper>ul>li:nth-child(3), .no-touchcapable .main-nav .wrapper>ul>li.level-1:last-of-type{
	display: inline-block !important;
}

.login-comp .sharedLogin {
    display: none;
}

body.template--home.page_home.template_home .canvas-container .row-offcanvas.row-offcanvas-left header{
	display: none;
}

/* body.template--generic-one-column.page_patient-resources.template_generic .main-nav .wrapper > ul > li:nth-child(1), body.template--generic-one-column.page_patient-resources.template_generic .main-nav .wrapper>ul>li:nth-child(2), body.template--generic-one-column.page_patient-resources.template_generic .main-nav .wrapper>ul>li:nth-child(3) {
	display: none !important;
} */


body.template--generic-one-column.page_patient-resources.template_generic .main-nav .wrapper > ul > li.level-1:last-of-type {
    	display: inline-block;
}

.open-close-arrow img {
    max-width: 10px !important;
}

.rightcol {
    top: 0 !important;
}

.breadcrumb.sibling-breadcrumb.clearfix>li+li:before{
      border-left: 0;
}

.content label.error {
    color: #ea6767;
    margin-top: 2px;
    font-size: 14px;
}

.content input.error, .content select.error, .content textarea.error {
    border: 2px solid #ea6767;
}

.wrapper>.main>.title, .wrapper>.main>.text{
	    padding: 50px 128px;
}

body.template--generic-one-column.page_mode-of-action.template_generic .wrapper>.main>.text {
    padding: 20px 128px;
}

@media only screen and (min-width: 992px) {
	header .spinraza-header .container div:nth-child(5) {
	   width: 17.3%;
	}

	.countryselector {
    padding: 0 !important;
	}

	.country_options {
	    top: 81px !important;
	}

	.country-dd{
		font-size: 14px;
	}
}

@media only screen and (min-width: 768px) {
	.page_home footer .footer-links ul li {
    padding-right: 30px !important;
    padding-left: 0 !important;
	}

    /* tablets and desktop */

    .main-nav .wrapper>ul>li {
    	text-transform: uppercase;
    }

    .container {
   	 	width: 750px;
	}

	.title.base.parbase.section h3 {
		color:#223867;
		margin-top: 70px;
	}

	.content .wrapper .row .main.col.col-xs-12 .underline>div:nth-of-type(1) > h3 {
		margin-bottom: 50px;
	}

	.text.parbase.section p {
		padding: 0 100px 0;
	}

	body.template--generic-one-column.page_mode-of-action.template_generic .text.parbase.section p {
    padding: 0 175px 0;
    line-height: 22px;
	
	}

    .page-header.page-header-generic {
    	display: none;
    }

    .no-touchcapable .main-nav .wrapper, .touchcapable .main-nav .wrapper, .main-nav .wrapper {
    	background: rgba(255, 255, 255, 0.86);
    }

    .main-nav .wrapper {
    	z-index: 5;
    }

    .main-nav .wrapper > ul > li > a {
    	color: #028ca6 !important;
	}

	.level-1.has-children.here.active {
    	border-bottom: 2px solid #028ca6;
	}

	.breadcrumb.sibling-breadcrumb.clearfix .stacked-breadcrumb a {
		margin-left: 20px;
    	margin-right: 20px;
    	text-transform: uppercase;
    	font-weight: 600 !important;
	}

	.breadcrumb.sibling-breadcrumb.clearfix>li.active .stacked-breadcrumb {
		text-transform: uppercase;
		font-weight: bold !important;
	}


    div.image.adaptiveimage img {
    	display: block !important;
    }

    .carousel .wrapper .bx-wrapper {
    	margin-top: -38px;
    }

    .no-touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .main-nav .wrapper>ul>li:nth-child(3) a {
    	background: none !important;
    }

    .no-touchcapable .main-nav .wrapper>ul, .touchcapable .main-nav .wrapper>ul, .main-nav .wrapper>ul {
    	text-align: center;
    }

    .accordioncontainer.base.parbase.section, #footer .wrapper .siteMapFooter-links {
    	display: none;
	}

	#footer .wrapper .footer-links-container .footer-links ul.desktop-footer-links, #footer .wrapper .footer-links-container .desktop-disclaimer {
		margin-top: 0;
	}

	.content figure {
		margin-bottom: 24px;
    	margin-top: 0px;
	}

	.inner-content {
		padding: 0px 128px;
	}

	.small-note {
	    margin-top: 3rem;
	    margin-bottom: 3rem;
	    margin-left: 7rem;
	}

	.spinraza-reference {
	    font-size: 12px;
	    margin-left: 100px;
	}

	#footer .wrapper {
		padding: 45px 128px 50px;
	}

	#footer .wrapper .footer-links-container .logo-biogen .logo-biogen1 {
    	width: 45%;
    	margin-left: 150px;
	}

	/*Forms*/

	.get-in-touch .form-control, .authentication-form .form-control {
		padding: 8px;
    	height: 40px;
		border-radius: 0;
	}

	.submit-btn {
		color: #028ca6;
		padding-left: 30px;
	    padding-right: 30px;
	    margin-bottom: 40px;
	    margin-right: 15px;
		background: #a4d9cf;
		border-radius: 0;
		text-transform: uppercase;
	}

	p a.request, p a.request:visited, p a, .content p a {
		color: #028ca6;
		font-weight: 400;
	}

	p a.request:hover, p a, .content p a:hover {
		color: #028ca6;
	}

	p.h-pro {
    	margin-left: 15px;
	}

	.content .form-control {
		font-size: 15px;
	}

	.checkbox.col-md-12 {
    	margin-bottom: 30px;
	}

	.submit-btn span {
	    font-size: 20px;
	    font-weight: bold;
	    margin-left: 15px;
	}

	/*end of form style*/

	/*Product information page*/
	.spinraza-callout h3 {
	    color: black;
	    border: 2px solid black;
	    width: 815px;
	    margin: auto;
	    padding: 20px;
	}

	/*Contact Us*/
	.col-md-6.col-sm-12.col-xs-12.contact-us, .col-md-12.col-sm-12.col-xs-12.contact-us {
		margin-top: 50px;
		margin-bottom: 50px;
	}


	.col-md-6.col-sm-12.col-xs-12.contact-us h3, .col-md-12.col-sm-12.col-xs-12.contact-us h3 {
		text-align: left;
	}

	.col-md-12.col-sm-12.col-xs-12.contact-us.enquiries {
		margin-top: 0px;
	}

	.col-md-6.col-sm-12.col-xs-12.contact-us p a, .col-md-12.col-sm-12.col-xs-12.contact-us p a {
		font-family: 'Avenir Next Cyr W00 Regular', sans-serif;
		font-weight: normal;
	}

	/*Video*/

	.cg-video { width: 100%; }

	.cg-wrapper{
		display:table;
		position:relative;
		width: 750px;
		margin: 30px auto 0px;
	}

	.cg-playpause {
		background-image:url('/content/dam/commercial-au/specialty/spinraza/hcp/en_au/images/how-works/spinraza_play_button.png');
		background-repeat:no-repeat;
		width:10%;
		height:50%;
		position:absolute;
		left:0%;
		right:0%;
		top:0%;
		bottom:0%;
		margin:auto;
		background-size:contain;
		background-position: center;
	}

	small {
    font-size: 12px;
  	}

  /*phase2*/

  .reference {
      margin-top: 55px;
      margin-bottom: 100px;
  }

  .resource-access {
      margin-top: 60px;
      margin-bottom: 130px;
  }

  p.dark-blue {
      color: #223867;
      font-size: 17px;
      margin-top: 40px;
      font-weight: bold !important;
  }

  p.light-blue {
  	  color: #5db5c6;
  }

  .dark-blue {
      color: #223867;
  }

  li.resourced-list {
	    list-style: none;
	    display: inline-block;
	    width: 315px;
  }

  li.resourced-list p, li.resourced-list a {
		text-align: center;
		width: 285px;
  }

	li.resourced-list a img {
	  margin-left: 50px;
	}

  .download-container.row {
    width: 1024px;
    margin: 70px auto;
  }

  .row.injection-content {
    margin-top: 20px;
   }

   .row.injection-content p {
   	padding-top: 20px;
    font-size: .9em;
    font-weight: bold !important;
    line-height: 1.3em;
   }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	/*ipad Portrait*/
	header .spinraza-header .container .center-img img {
		margin-left: 30%;
	    max-width: 100%;
	    margin-bottom: 17px;
	}

	.inner-content {
		padding: 0;
	}

	/*video.cg-video {
		margin: 5% 10% 5% 10%;
	}*/

	.header-auth {
	    text-align: center;
	    background: #223867;
	    height: 85px;
	}

	.header-auth h3 {
		padding-top: 3.5%;
		color: #fff;
	    font-family: 'Avenir Next Cyr W00 Bold', sans-serif;
	}

}

@media only screen and (max-width: 767px) {

    /* phones */

    .page-header-generic .wrapper {
    	display: none;
    }

    body #footer .wrapper .footer-links-container .desktop-disclaimer {
    	margin-top: 0;
    }

    #footer .wrapper .footer-links-container .footer-links ul.desktop-footer-links li:first-child {
    	margin-right: -6px;
    }

    .wrapper>.main>.text {
    	padding: 0 10px 0 10px;
    }

	.cg-wrapper {
		width: 75%;
	}


	video.cg-video {
	    width: 100%;
	    margin: 5% 15%;
	}

	.sma-hcpregistration.form.base.parbase.section {
    	display: none;
	}

	body #footer {
		margin-top: 40px;
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */

    header .spinraza-header .container .center-img img {
    	margin-left: -5%;
    }

    .references .content-reference .accordioncontainer>.col .accordion .accordionElement .accordionElementHeader {
    	display: none;
    }

    .content-reference .accordioncontainer>.col p {
    	font-size: 10px;
    }

    .accordioncontainer.base.parbase.section {
    	margin-bottom: -50px;
	}

	.inner-content {
		padding: 10px;
	}

	h3.inner-title {
		padding-left: 0;
		padding-right: 0;
	}


}
