.hcp-text p {
    display: block !important;
}

span.patient-logo {
    display: none;
}

.desktop-footer-links > li:nth-child(5){
  display: none;
}

/*
Hides the patients navigation
*/
.no-touchcapable .main-nav .wrapper>ul>li:nth-child(4) a span, .touchcapable .main-nav .wrapper>ul>li:nth-child(4) a span, .main-nav .wrapper>ul>li:nth-child(4) a span,
.no-touchcapable .main-nav .wrapper>ul>li:nth-child(5) a span, .touchcapable .main-nav .wrapper>ul>li:nth-child(5) a span, .main-nav .wrapper>ul>li:nth-child(5) a span{
		display: none !important;
}


/*
Displays the 3rd navigation menu that was disabled on the initial css used
*/
.no-touchcapable .main-nav .wrapper>ul>li:nth-child(3), .touchcapable .main-nav .wrapper>ul>li:nth-child(3), .main-nav .wrapper>ul>li:nth-child(3){
  width: auto;
}

.no-touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .main-nav .wrapper>ul>li:nth-child(3) a{
  margin-top: 0;
}

.no-touchcapable .main-nav .wrapper>ul>li:nth-child(3) a:hover, .touchcapable .main-nav .wrapper>ul>li:nth-child(3) a:hover, .main-nav .wrapper>ul>li:nth-child(3) a:hover{
  color: #028ca6 !important;
  font-size: 15px;
  padding: 0 9px;
}

@media (min-width: 991px){
  .no-touchcapable .main-nav .wrapper>ul>li:nth-child(3) a span.hidden-sm, .touchcapable .main-nav .wrapper>ul>li:nth-child(3) a span.hidden-sm, .main-nav .wrapper>ul>li:nth-child(3) a span.hidden-sm{
      display: block !important;
  }
}

@media (max-width: 991px) and (min-width: 768px){
  .visible-sm-inline {
      display: inline !important;
  }
}

@media (max-width: 768px){
  .no-touchcapable .main-nav .wrapper>ul>li:nth-child(3), .touchcapable .main-nav .wrapper>ul>li:nth-child(3), .main-nav .wrapper>ul>li:nth-child(3){
    width: 100%;
  }

  .no-touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .touchcapable .main-nav .wrapper>ul>li:nth-child(3) a, .main-nav .wrapper>ul>li:nth-child(3) a{
    margin-top: 0;
    width: auto;
  }
}
